@font-face {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansLight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSansLight/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/opensans-light-webfont.woff") format("woff"), url("../fonts/OpenSansLight/opensans-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansLightItalic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSansLightItalic/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLightItalic/opensans-italic-webfont.woff") format("woff"), url("../fonts/OpenSansLightItalic/opensans-italic-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansSemiBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSansSemiBold/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/opensans-semibold-webfont.woff") format("woff"), url("../fonts/OpenSansSemiBold/opensans-semibold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSansRegular/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/opensans-regular-webfont.woff") format("woff"), url("../fonts/OpenSansRegular/opensans-regular-webfont.ttf") format("truetype");
}