/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1900px) {
    .descr {
        padding-top: 210px;
        padding-bottom: 217px;
    }
    .services_descr {
        padding-top: 135px;
        padding-bottom: 171px;
    }
}

@media only screen and (max-width: 1280px) {
    .about,
    .team,
    .blog,
    .contacts {
        padding-left: 200px;
        padding-right: 200px;
    }
    .descr {
        padding-bottom: 97px;
        padding-top: 98px;
    }
    .date {
        margin-bottom: 10px;
    }
    .descr h2 {
        margin-bottom: 10px;
    }
    .descr p {
        margin-bottom: 15px;
    }
    .services_descr {
        padding: 39px 50px 34px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .about,
    .team,
    .blog,
    .contacts {
        padding-left: 150px;
        padding-right: 150px;
    }
    .about,
    .portfolio,
    .team,
    .blog {
        padding-bottom: 100px;
    }
    .people .people-item {
        width: 100%;
    }
    .blog-pic {
        padding-left: 0;
        width: 100%;
    }
    .descr {
        width: 100%;
        padding-left: 20px;
        padding-top: 25px;
    }
    . .descr h2 {
        margin-bottom: 6px;
    }
    .contacts_item {
        padding-left: 50px;
        padding-right: 50px;
    }
    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-intro {
        max-height: 700px;
    }
    .services_descr {
        padding: 39px 20px 34px;
    }
    .services_descr h1 {
        margin-bottom: 50px;
    }
    .descr_list li {
        font-size: 16px;
    }
    .ab_content {
        padding: 80px 150px;
    }
    .services_wrap {
        padding-left: 150px;
        padding-right: 150px;
        margin-bottom: 50px;
    }
    .services_descr,
    .services_img img {
        width: 100%;
        float: none;
    }
    .services_descr {
        max-width: 674px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .contacts .row h6 {
        margin-bottom: 20px;
    }
    .contacts_item {
        padding-bottom: 20px;
    }
    .ab_content {
        padding: 50px 100px;
    }
    .services_wrap {
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 50px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .about,
    .team,
    .blog,
    .contacts {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contacts_item {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        text-align: center;
    }
    .f_dev,
    .f_email {
        float: none;
    }
    .about-intro {
        max-height: 400px;
    }
    .ab_content {
        padding: 20px;
    }
    .services_wrap {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
    .services_descr {
        background-color: transparent;
    }
    .descr_txt,
    .descr_list {
        width: 100%;
        float: none;
    }
    .descr_list li {
        font-size: 18px;
    }
    .ab_footer {
        margin-top: 60px;
    }
    .ab_footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 80px;
        background: transparent;
        box-shadow: none;
    }
    .cd-logo {
        left: 2.6em;
    }
    .cd-primary-nav-trigger {
        width: 100px;
        padding-left: 1em;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        right: 2.2em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block;
    }
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 1em;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
    .cd-primary-nav {
        padding: 80px 0;
    }
    .cd-intro h1 {}
    .cd-header {
        height: 80px;
        background: transparent;
        box-shadow: none;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1170px) {
    .cd-header {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cd-header.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -80px;
        background-color: rgba(2, 23, 37, 0.7);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .cd-header.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .cd-header.menu-is-open {
        /* add a background color to the header when the navigation is open */
        background-color: #2D3035;
    }
    .cd-primary-nav li {
        font-size: 30px;
        font-size: 1.875rem;
    }
    .cd-primary-nav .cd-label {}
}